In [2]:
import pandas
import pandasql


def num_rainy_days(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return one column and
    one row - a count of the number of days in the dataframe where
    the rain column is equal to 1 (i.e., the number of days it
    rained).  The dataframe will be titled 'weather_data'. You'll
    need to provide the SQL query.  You might find SQL's count function
    useful for this exercise.  You can read more about it here:
    
    https://dev.mysql.com/doc/refman/5.1/en/counting-rows.html
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    select count(rain) as 'Rain Days' 
    from weather_data
    where cast(rain as nteger)=1;
    """
    
    #Execute your SQL command against the pandas frame
    rainy_days = pandasql.sqldf(q.lower(), locals())
    return rainy_days


if __name__ == "__main__":
    print(num_rainy_days('weather-underground.csv'))

   rain days
0         10

In [9]:
import pandas
import pandasql


def max_temp_aggregate_by_fog(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return two columns and
    two rows - whether it was foggy or not (0 or 1) and the max
    maxtempi for that fog value (i.e., the maximum max temperature
    for both foggy and non-foggy days).  The dataframe will be 
    titled 'weather_data'. You'll need to provide the SQL query.
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    select fog, max(maxtempi) as 'Max Temperature'
    from weather_data
    group by fog;
    """
    
    #Execute your SQL command against the pandas frame
    foggy_days = pandasql.sqldf(q.lower(), locals())
    return foggy_days

if __name__ == "__main__":
    print(max_temp_aggregate_by_fog('weather-underground.csv'))

   fog  max temperature
0    0               86
1    1               81

In [11]:
import pandas
import pandasql

def avg_weekend_temperature(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return one column and
    one row - the average meantempi on days that are a Saturday
    or Sunday (i.e., the the average mean temperature on weekends).
    The dataframe will be titled 'weather_data' and you can access
    the date in the dataframe via the 'date' column.
    
    You'll need to provide  the SQL query.
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    Also, you can convert dates to days of the week via the 'strftime' keyword in SQL.
    For example, cast (strftime('%w', date) as integer) will return 0 if the date
    is a Sunday or 6 if the date is a Saturday.
    
    You can see the weather data that we are passing in below:
    https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    select avg(meantempi) as 'weekend Temperature'
    from weather_data
    where 
      cast (strftime('%w', date) as integer) = 0 or cast (strftime('%w', date) as integer) = 6;
      
    """
    
    #Execute your SQL command against the pandas frame
    mean_temp_weekends = pandasql.sqldf(q.lower(), locals())
    return mean_temp_weekends

if __name__ == "__main__":
    print(avg_weekend_temperature('weather-underground.csv'))

   weekend temperature
0            65.111111

In [14]:
import pandas
import pandasql

def avg_min_temperature(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data. More specifically you want to find the average
    minimum temperature (mintempi column of the weather dataframe) on 
    rainy days where the minimum temperature is greater than 55 degrees.
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)

    q = """
    select avg(mintempi)
    from weather_data
    where cast(rain as interger) = 1 and cast(mintempi as interger) > 55;
    """
    
    #Execute your SQL command against the pandas frame
    avg_min_temp_rainy = pandasql.sqldf(q.lower(), locals())
    return avg_min_temp_rainy


if __name__ == "__main__":
    print(avg_min_temperature('weather-underground.csv'))

   avg(mintempi)
0          61.25

In [113]:
import csv

def fix_turnstile_data(filenames):
    '''
    Filenames is a list of MTA Subway turnstile text files. A link to an example
    MTA Subway turnstile text file can be seen at the URL below:
    http://web.mta.info/developers/data/nyct/turnstile/turnstile_110507.txt
    
    As you can see, there are numerous data points included in each row of the
    a MTA Subway turnstile text file. 

    You want to write a function that will update each row in the text
    file so there is only one entry per row. A few examples below:
    A002,R051,02-00-00,05-28-11,00:00:00,REGULAR,003178521,001100739
    A002,R051,02-00-00,05-28-11,04:00:00,REGULAR,003178541,001100746
    A002,R051,02-00-00,05-28-11,08:00:00,REGULAR,003178559,001100775
    
    Write the updates to a different text file in the format of "updated_" + filename.
    For example:
        1) if you read in a text file called "turnstile_110521.txt"
        2) you should write the updated data to "updated_turnstile_110521.txt"

    The order of the fields should be preserved. Remember to read through the 
    Instructor Notes below for more details on the task. 
    
    In addition, here is a CSV reader/writer introductory tutorial:
    http://goo.gl/HBbvyy
    
    You can see a sample of the turnstile text file that's passed into this function
    and the the corresponding updated file by downloading these files from the resources:
    
    Sample input file: turnstile_110528.txt
    Sample updated file: solution_turnstile_110528.txt
    '''
    for name in filenames:
        # your code here
        f_in = open(name, 'r')
        f_out = open("updated_" + name, 'w')

        reader_in = csv.reader(f_in, delimiter=',')
        writer_out = csv.writer(f_out, delimiter=',')
        
        for line in reader_in:
            # print(len(line))
            for n in range(3, len(line), 5):             
                # formating the number and remove space
                line[n+3] = int(line[n+3].replace(" ", ""))
                line[n+4] = int(line[n+4].replace(" ", ""))
                
                update_line = [line[0],line[1],line[2],line[n],line[n+1],line[n+2],line[n+3],line[n+4]]
                writer_out.writerow(update_line)
        
        f_in.close()
        f_out.close()
              
        
if __name__ == "__main__":
    fix_turnstile_data(['turnstile-110528.txt', 'turnstile_110507.txt'])

In [114]:
def create_master_turnstile_file(filenames, output_file):
    '''
    Write a function that takes the files in the list filenames, which all have the 
    columns 'C/A, UNIT, SCP, DATEn, TIMEn, DESCn, ENTRIESn, EXITSn', and consolidates
    them into one file located at output_file.  There should be ONE row with the column
    headers, located at the top of the file. The input files do not have column header
    rows of their own.
    
    For example, if file_1 has:
    line 1 ...
    line 2 ...
    
    and another file, file_2 has:
    line 3 ...
    line 4 ...
    line 5 ...
    
    We need to combine file_1 and file_2 into a master_file like below:
     'C/A, UNIT, SCP, DATEn, TIMEn, DESCn, ENTRIESn, EXITSn'
    line 1 ...
    line 2 ...
    line 3 ...
    line 4 ...
    line 5 ...
    '''
    with open(output_file, 'w') as master_file:
        master_file.write('C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn\n')
        for filename in filenames:
            # your code here
            f_in = open(filename, 'r')

            for line in f_in:
                master_file.write(line)
            
            f_in.close()
            
    master_file.close()
                     

if __name__ == "__main__":
    create_master_turnstile_file(['updated_turnstile-110528.txt', 'updated_turnstile_110507.txt'], 'master_turnstile.txt')

In [115]:
import pandas
import csv

def filter_by_regular(filename):
    '''
    This function should read the csv file located at filename into a pandas dataframe,
    and filter the dataframe to only rows where the 'DESCn' column has the value 'REGULAR'.
    
    For example, if the pandas dataframe is as follows:
    ,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn
    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    1,A002,R051,02-00-00,05-01-11,04:00:00,DOOR,3144335,1088159
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177
    3,A002,R051,02-00-00,05-01-11,12:00:00,DOOR,3144424,1088231
    
    The dataframe will look like below after filtering to only rows where DESCn column
    has the value 'REGULAR':
    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177
    '''

    turnstile_data = []
    f_in = open(filename, 'r')
    f_out1 = open('regular_turnstile.txt', 'w')
    f_out2 = open('not_regular_turnstile.txt', 'w')

    
    reader_in = csv.reader(f_in, delimiter=',')
    writer_out1 = csv.writer(f_out1, delimiter=',')
    writer_out2 = csv.writer(f_out2, delimiter=',')
     
    for line in reader_in:
        
        if line[5] == 'REGULAR':
#             line[6] = int(line[6].replace(" ", ""))
#             line[7] = int(line[7].replace(" ", ""))
            turnstile_data.append(line)
            writer_out1.writerow(line)
        else:
             writer_out2.writerow(line)
    
    turnstile_data = pandas.DataFrame(turnstile_data,columns=['C/A','UNIT','SCP','DATEn','TIMEn','DESCn','ENTRIESn','EXITSn'])  
    print(turnstile_data)
    
    f_in.close()
    f_out1.close()
    f_out2.close()
    
    return turnstile_data

if __name__ == "__main__":
    filter_by_regular('master_turnstile.txt')

       C/A  UNIT       SCP     DATEn     TIMEn    DESCn ENTRIESn   EXITSn
0     A002  R051  02-00-00  05-21-11  00:00:00  REGULAR  3169391  1097585
1     A002  R051  02-00-00  05-21-11  04:00:00  REGULAR  3169415  1097588
2     A002  R051  02-00-00  05-21-11  08:00:00  REGULAR  3169431  1097607
3     A002  R051  02-00-00  05-21-11  12:00:00  REGULAR  3169506  1097686
4     A002  R051  02-00-00  05-21-11  16:00:00  REGULAR  3169693  1097734
5     A002  R051  02-00-00  05-21-11  20:00:00  REGULAR  3169998  1097769
6     A002  R051  02-00-00  05-22-11  00:00:00  REGULAR  3170119  1097792
7     A002  R051  02-00-00  05-22-11  04:00:00  REGULAR  3170146  1097801
8     A002  R051  02-00-00  05-22-11  08:00:00  REGULAR  3170164  1097820
9     A002  R051  02-00-00  05-22-11  12:00:00  REGULAR  3170240  1097867
10    A002  R051  02-00-00  05-22-11  16:00:00  REGULAR  3170388  1097912
11    A002  R051  02-00-00  05-22-11  20:00:00  REGULAR  3170611  1097941
12    A002  R051  02-00-00  05-23-11  00:00:00  REGULAR  3170695  1097964
13    A002  R051  02-00-00  05-23-11  04:00:00  REGULAR  3170701  1097964
14    A002  R051  02-00-00  05-23-11  08:00:00  REGULAR  3170746  1098069
15    A002  R051  02-00-00  05-23-11  12:00:00  REGULAR  3170897  1098378
16    A002  R051  02-00-00  05-23-11  16:00:00  REGULAR  3171194  1098447
17    A002  R051  02-00-00  05-23-11  20:00:00  REGULAR  3172059  1098511
18    A002  R051  02-00-00  05-24-11  00:00:00  REGULAR  3172200  1098528
19    A002  R051  02-00-00  05-24-11  04:00:00  REGULAR  3172214  1098529
20    A002  R051  02-00-00  05-24-11  08:00:00  REGULAR  3172266  1098628
21    A002  R051  02-00-00  05-24-11  12:00:00  REGULAR  3172407  1098952
22    A002  R051  02-00-00  05-24-11  16:00:00  REGULAR  3172689  1099010
23    A002  R051  02-00-00  05-24-11  20:00:00  REGULAR  3173590  1099055
24    A002  R051  02-00-00  05-25-11  00:00:00  REGULAR  3173803  1099079
25    A002  R051  02-00-00  05-25-11  04:00:00  REGULAR  3173826  1099081
26    A002  R051  02-00-00  05-25-11  08:00:00  REGULAR  3173873  1099178
27    A002  R051  02-00-00  05-25-11  12:00:00  REGULAR  3174022  1099496
28    A002  R051  02-00-00  05-25-11  16:00:00  REGULAR  3174309  1099572
29    A002  R051  02-00-00  05-25-11  20:00:00  REGULAR  3175172  1099651
...    ...   ...       ...       ...       ...      ...      ...      ...
6579  N030  R333  00-00-01  05-04-11  17:00:00  REGULAR  2990772  1702716
6580  N030  R333  00-00-01  05-04-11  21:00:00  REGULAR  2990964  1702870
6581  N030  R333  00-00-01  05-05-11  01:00:00  REGULAR  2991012  1702929
6582  N030  R333  00-00-01  05-05-11  05:00:00  REGULAR  2991023  1702942
6583  N030  R333  00-00-01  05-05-11  09:00:00  REGULAR  2991398  1703135
6584  N030  R333  00-00-01  05-05-11  13:00:00  REGULAR  2991695  1703239
6585  N030  R333  00-00-01  05-05-11  17:00:00  REGULAR  2991945  1703395
6586  N030  R333  00-00-01  05-05-11  21:00:00  REGULAR  2992182  1703547
6587  N030  R333  00-00-01  05-06-11  01:00:00  REGULAR  2992244  1703615
6588  N030  R333  00-00-01  05-06-11  05:00:00  REGULAR  2992255  1703670
6589  N030  R333  00-00-01  05-06-11  09:00:00  REGULAR  2992586  1703864
6590  N030  R333  00-00-01  05-06-11  13:00:00  REGULAR  2992885  1703968
6591  N030  R333  00-00-01  05-06-11  17:00:00  REGULAR  2993118  1704118
6592  N030  R333  00-00-01  05-06-11  21:00:00  REGULAR  2993362  1704286
6593  N030  R333  00-00-02  04-30-11  01:00:00  REGULAR  3205277   939833
6594  N030  R333  00-00-02  04-30-11  05:00:00  REGULAR  3205304   939854
6595  N030  R333  00-00-02  04-30-11  09:00:00  REGULAR  3205420   939876
6596  N030  R333  00-00-02  04-30-11  13:00:00  REGULAR  3205694   939936
6597  N030  R333  00-00-02  04-30-11  17:00:00  REGULAR  3205948   939988
6598  N030  R333  00-00-02  04-30-11  21:00:00  REGULAR  3206133   940063
6599  N030  R333  00-00-02  05-01-11  01:00:00  REGULAR  3206262   940128
6600  N030  R333  00-00-02  05-01-11  05:00:00  REGULAR  3206281   940144
6601  N030  R333  00-00-02  05-01-11  09:00:00  REGULAR  3206337   940161
6602  N030  R333  00-00-02  05-01-11  13:00:00  REGULAR  3206588   940223
6603  N030  R333  00-00-02  05-01-11  17:00:00  REGULAR  3206858   940279
6604  N030  R333  00-00-02  05-01-11  21:00:00  REGULAR  3207005   940342
6605  N030  R333  00-00-02  05-02-11  01:00:00  REGULAR  3207077   940372
6606  N030  R333  00-00-02  05-02-11  05:00:00  REGULAR  3207106   940385
6607  N030  R333  00-00-02  05-02-11  09:00:00  REGULAR  3207577   940489
6608  N030  R333  00-00-02  05-02-11  13:00:00  REGULAR  3207932   940542

[6609 rows x 8 columns]

In [ ]:
import pandas

def get_hourly_entries(df):
    '''
    The data in the MTA Subway Turnstile data reports on the cumulative
    number of entries and exits per row.  Assume that you have a dataframe
    called df that contains only the rows for a particular turnstile machine
    (i.e., unique SCP, C/A, and UNIT).  This function should change
    these cumulative entry numbers to a count of entries since the last reading
    (i.e., entries since the last row in the dataframe).
    
    More specifically, you want to do two things:
       1) Create a new column called ENTRIESn_hourly
       2) Assign to the column the difference between ENTRIESn of the current row 
          and the previous row. If there is any NaN, fill/replace it with 1.
    
    You may find the pandas functions shift() and fillna() to be helpful in this exercise.
    
    Examples of what your dataframe should look like at the end of this exercise:
    
           C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn    EXITSn  ENTRIESn_hourly
    0     A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312   1088151                1
    1     A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335   1088159               23
    2     A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353   1088177               18
    3     A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424   1088231               71
    4     A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594   1088275              170
    5     A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808   1088317              214
    6     A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895   1088328               87
    7     A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905   1088331               10
    8     A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941   1088420               36
    9     A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094   1088753              153
    10    A002  R051  02-00-00  05-02-11  16:00:00  REGULAR   3145337   1088823              243
    ...
    ...

    '''
    
    
       
    return df