In [41]:
#################################
'''
Get data from web 
Updated in 2018-08-11

Please Note: 
"pandas.io.data" is deprecated, replaced by "pandas-datareader" package.

Reference Link: 

"http://pandas-datareader.readthedocs.io/en/latest/remote_data.html"

'''
####################################

from pandas import DataFrame, Series, Panel 
import pandas_datareader.data as web
from datetime import datetime

all_data = {}

start = datetime(2015, 1, 1)
end = datetime(2018, 8, 10)


for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
    all_data[ticker] = web.DataReader(ticker,'iex', start, end)
    
price = DataFrame({tic:data['close'] 
                   for tic, data in all_data.items()})

volume = DataFrame({tic:data['volume'] 
                    for tic, data in all_data.items()})

5y
5y
5y
5y

In [23]:
# See what data I have got
print(all_data)
print(price)
print(volume)

{'AAPL':                 open      high       low     close     volume
date
2015-01-02  104.2471  104.2939  100.4662  102.3192   53204626
2015-01-05  101.3459  101.6828   98.6506   99.4367   64285491
2015-01-06   99.7082  100.5411   97.9206   99.4461   65797116
2015-01-07  100.3258  101.2617   99.8532  100.8406   40105934
2015-01-08  102.2257  104.9584  101.7296  104.7151   59364547
2015-01-09  105.4451  105.9879  103.1428  104.8274   53699527
2015-01-12  105.3796  105.4076  101.8232  102.2444   49650790
2015-01-13  104.2846  105.5667  101.9262  103.1522   67091928
2015-01-14  102.0478  103.4049  101.5425  102.7591   48956588
2015-01-15  102.9463  103.0024   99.8205   99.9702   60013996
2015-01-16  100.1667  100.6815   98.4541   99.1934   78513345
2015-01-20  100.9248  101.9792   99.6707  101.7484   49899907
2015-01-21  101.9636  103.9383  101.3272  102.5251   48575897
2015-01-22  103.1896  105.2579  102.6842  105.1924   53796409
2015-01-23  105.0988  106.4558  104.3782  105.7352   46464828
2015-01-26  106.4465  107.0291  105.5667  105.8475   55614979
2015-01-27  105.2111  105.2672  102.0385  102.1414   95568749
2015-01-28  110.0823  110.5456  107.9158  107.9158  146477063
2015-01-29  108.8610  111.5470  108.1497  111.2756   84436432
2015-01-30  110.8076  112.3050  109.3570  109.6471   83745461
2015-02-02  110.4801  111.5283  108.6364  111.0229   62739100
2015-02-03  110.9012  111.4534  110.0683  111.0416   51915749
2015-02-04  110.9012  112.7823  110.7225  111.8932   70149743
2015-02-05  112.7670  112.9643  112.0436  112.6919   42246245
2015-02-06  112.7670  112.9831  111.2919  111.7429   43706567
2015-02-09  111.3859  112.5979  111.2731  112.4852   38889797
2015-02-10  112.9080  114.7683  112.8986  114.6462   62008506
2015-02-11  115.3509  117.3709  115.0972  117.3333   73561797
2015-02-12  118.4420  119.7762  117.9816  118.8179   74474466
2015-02-13  119.5883  119.5883  118.0568  119.4004   54272219
...              ...       ...       ...       ...        ...
2018-06-28  183.4566  185.5592  183.1576  184.8517   17365235
2018-06-29  185.6389  186.5358  182.2707  184.4630   22737666
2018-07-02  183.1775  186.6454  182.7789  186.5258   17731343
2018-07-03  187.1337  187.2931  182.8985  183.2772   13954806
2018-07-05  184.6125  185.7585  183.6359  184.7520   16604248
2018-07-06  184.7720  187.7754  184.5527  187.3130   17485245
2018-07-09  188.8377  190.0136  188.6384  189.9139   19756634
2018-07-10  190.0435  190.6115  189.5154  189.6847   15939149
2018-07-11  187.8412  189.1166  186.9543  187.2234   18831470
2018-07-12  188.8676  190.7410  188.6484  190.3623   18041131
2018-07-13  190.4122  191.1695  190.2328  190.6613   12519792
2018-07-16  190.8506  191.9767  189.7495  190.2428   15043110
2018-07-17  189.0868  191.1994  188.5387  190.7809   15534523
2018-07-18  191.1097  191.1297  189.2662  189.7346   16393381
2018-07-19  189.0270  191.8770  189.0270  191.2094   20286752
2018-07-20  191.1097  191.7575  189.5054  190.7709   20706042
2018-07-23  190.0136  191.2891  188.8975  190.9403   15989365
2018-07-24  191.7774  192.9833  191.3788  192.3255   18697898
2018-07-25  192.3855  194.1690  191.7575  194.1391   16826483
2018-07-26  193.9298  195.2751  192.9333  193.5312   19075964
2018-07-27  194.3085  194.5078  189.4356  190.3125   24023972
2018-07-30  191.2293  191.5283  188.4092  189.2463   21029535
2018-07-31  189.6349  191.4685  188.6783  189.6249   39373038
2018-08-01  198.4340  201.0548  196.6204  200.7958   67935716
2018-08-02  199.8790  207.6517  199.6498  206.6652   62404012
2018-08-03  206.3064  208.0105  204.7621  207.2631   33447396
2018-08-06  207.2730  208.5187  206.3463  208.3393   25425387
2018-08-07  208.5884  208.7678  206.0374  206.3862   25587387
2018-08-08  205.3299  207.0837  203.8052  206.5257   22525487
2018-08-09  206.5556  209.0468  206.4758  208.1500   23492626

[908 rows x 5 columns], 'IBM':                 open      high       low     close    volume
date
2015-01-02  140.3532  142.0934  140.0835  141.0058   5525466
2015-01-05  140.3184  140.3184  138.5087  138.7871   4880389
2015-01-06  138.9263  139.1786  135.0109  135.7940   6146712
2015-01-07  136.7772  136.7772  134.0190  134.9065   4701839
2015-01-08  135.9419  138.3816  135.3415  137.8387   4241113
2015-01-09  137.8387  139.5092  136.8207  138.4390   4488347
2015-01-12  138.3433  138.5609  135.5243  136.1159   4187638
2015-01-13  136.8294  139.1873  135.4547  136.4379   4377510
2015-01-14  134.7412  136.1594  133.7667  135.5591   4690294
2015-01-15  136.3334  136.5771  134.1321  134.4889   4251723
2015-01-16  133.8363  137.1513  133.8363  136.7250   5756041
2015-01-20  136.3421  136.8903  134.0190  136.5597   8392773
2015-01-21  133.1489  134.4280  131.4436  132.3311  11897123
2015-01-22  132.2005  135.4895  132.0439  135.2023   6120113
2015-01-23  134.8891  137.1252  134.7673  135.6200   4834847
2015-01-26  137.6995  138.7436  135.5330  136.0463   7888143
2015-01-27  134.8108  134.9413  132.7661  133.7058   5659568
2015-01-28  133.9929  134.4541  131.8612  131.8612   4495933
2015-01-29  131.7133  135.3677  130.0949  135.2806   8320847
2015-01-30  133.9146  135.0718  133.1576  133.3926   6563570
2015-02-02  133.9929  134.5672  131.8264  134.5672   4712247
2015-02-03  134.6455  137.9953  134.6455  137.8822   5539406
2015-02-04  136.7859  138.0910  136.3421  136.5684   3678459
2015-02-05  136.8555  137.9866  136.7338  137.3949   5253637
2015-02-06  137.8593  138.5077  136.8868  137.3161   3256452
2015-02-09  136.6852  137.9995  136.1595  136.4662   3057726
2015-02-10  137.3336  138.9283  135.8791  138.9283   4440614
2015-02-11  138.2273  139.3927  137.7104  138.6128   3626658
2015-02-12  139.0685  139.7519  138.5165  138.8932   3333063
2015-02-13  139.1210  140.8909  138.9984  140.5405   3706919
...              ...       ...       ...       ...       ...
2018-06-28  136.6240  139.0379  136.4706  138.5433   4523666
2018-06-29  138.8203  139.8482  138.1178  138.2069   3753684
2018-07-02  136.8021  138.7213  136.7229  138.3652   3405642
2018-07-03  139.1467  139.4336  137.8782  138.0783   1963232
2018-07-05  138.9786  139.9184  138.4344  139.9184   3744730
2018-07-06  140.0173  141.4123  139.6612  140.9572   2910426
2018-07-09  141.0660  143.1732  140.9473  142.8468   3904652
2018-07-10  142.9655  144.0339  142.7132  143.1633   3776991
2018-07-11  142.4609  144.6275  142.4609  143.3909   3526565
2018-07-12  144.2912  145.2607  144.1823  144.8847   3119505
2018-07-13  144.8847  145.4090  144.2417  144.3406   3067638
2018-07-16  144.1131  144.2318  142.6687  143.9053   3468817
2018-07-17  143.2029  143.4502  141.8080  141.9564   5096741
2018-07-18  141.9762  143.2524  141.2095  142.9754   6935288
2018-07-19  146.2698  148.9310  145.6762  147.6449  14655804
2018-07-20  146.9920  147.2690  144.6968  144.7858   6415972
2018-07-23  144.7858  145.1321  143.4651  144.1428   3897892
2018-07-24  145.1321  145.4684  144.3604  144.8155   3891625
2018-07-25  144.4494  145.0826  143.9449  145.0529   3623182
2018-07-26  145.8543  147.6746  145.0628  145.1420   4778022
2018-07-27  145.3200  145.5674  143.1139  143.5986   3749642
2018-07-30  143.2524  144.6770  143.1436  143.9350   3608283
2018-07-31  144.1823  144.2417  142.6182  143.3810   5474478
2018-08-01  143.2128  143.6382  141.8080  141.9663   3388386
2018-08-02  141.3331  141.8278  140.8088  141.4320   3841447
2018-08-03  141.7091  146.3390  141.4716  146.1214   8053567
2018-08-06  145.3794  145.6267  144.0141  144.4692   3913743
2018-08-07  145.0826  146.0620  144.7858  145.4388   3508758
2018-08-08  145.7553  145.8543  144.6770  145.3200   3581746
2018-08-09  145.5300  145.9400  144.7300  144.7700   3093504

[908 rows x 5 columns], 'MSFT':                 open      high       low     close     volume
date
2015-01-02   42.8567   43.5548   42.7465   42.9486   27913852
2015-01-05   42.5903   42.9210   42.4801   42.5490   39673865
2015-01-06   42.5995   42.9385   41.8280   41.9290   36447854
2015-01-07   42.2321   42.6730   41.7821   42.4618   29114061
2015-01-08   42.9394   43.8578   42.9118   43.7109   29645202
2015-01-09   43.7293   43.9222   43.0771   43.3435   23944181
2015-01-12   43.5548   43.6650   42.5812   42.8016   23651887
2015-01-13   43.1414   44.0048   42.3056   42.5766   35270601
2015-01-14   42.2138   42.4709   41.9015   42.2092   29719580
2015-01-15   42.4526   42.5995   41.7086   41.7729   32750779
2015-01-16   41.6167   42.5077   41.4882   42.4709   35695289
2015-01-20   42.5260   42.8475   41.8556   42.6087   36161860
2015-01-21   42.1954   42.3791   41.7729   42.1770   39081143
2015-01-22   42.5995   43.2930   42.3240   43.2884   35898035
2015-01-23   43.4996   43.5272   42.9853   43.3343   26211594
2015-01-26   43.1690   43.2920   42.4708   43.1782   42525530
2015-01-27   39.4491   39.6787   38.6730   39.1827  169163953
2015-01-28   39.2562   39.3021   37.8050   37.8326   84507078
2015-01-29   37.5938   38.6868   37.4652   38.5857   63585273
2015-01-30   38.1632   38.1908   37.0610   37.1070   78004944
2015-02-02   37.2815   37.9979   36.9508   37.9152   50352532
2015-02-03   38.2367   38.5123   37.6994   38.2091   52082448
2015-02-04   38.5214   38.7694   37.9887   38.4296   41614812
2015-02-05   38.7786   39.1644   38.4434   38.9899   36548168
2015-02-06   39.2011   39.3021   38.7143   38.9531   34616554
2015-02-09   38.7970   39.2562   38.7694   38.9072   31381061
2015-02-10   39.2562   39.2838   38.7419   39.1276   29670676
2015-02-11   39.1736   39.1736   38.7694   38.9256   38262509
2015-02-12   39.1827   39.5777   39.0450   39.5777   33268831
2015-02-13   39.8441   40.2941   39.6328   40.2941   40264887
...              ...       ...       ...       ...        ...
2018-06-28   97.3800   99.1100   97.2600   98.6300   26650671
2018-06-29   98.9300   99.9100   98.3300   98.6100   28053214
2018-07-02   98.1000  100.0600   98.0000  100.0100   19564521
2018-07-03  100.4800  100.6300   98.9400   99.0500   14670275
2018-07-05   99.5000   99.9200   99.0299   99.7600   18977402
2018-07-06   99.8850  101.4300   99.6700  101.1600   19234627
2018-07-09  101.6452  102.2500  101.2510  101.8500   18211980
2018-07-10  102.0000  102.5100  101.8600  102.1200   19293140
2018-07-11  101.1500  102.3400  101.1000  101.9800   19644648
2018-07-12  102.7700  104.4100  102.7300  104.1900   24335929
2018-07-13  104.3700  105.6000  104.0900  105.4300   24653500
2018-07-16  105.4000  105.8200  104.5150  104.9100   21786912
2018-07-17  104.6100  106.5000  104.3200  105.9500   25901726
2018-07-18  105.9400  106.0500  104.7150  105.1200   29493927
2018-07-19  104.9300  105.3100  103.8900  104.4000   40171646
2018-07-20  108.0800  108.2000  106.0800  106.2700   56038827
2018-07-23  106.3000  108.1400  106.1300  107.9700   29706955
2018-07-24  108.5700  108.8200  107.2600  107.6600   26316619
2018-07-25  107.9550  111.1500  107.6000  110.8300   30798058
2018-07-26  110.7400  111.0000  109.5000  109.6200   31372110
2018-07-27  110.1800  110.1800  106.1400  107.6800   37005292
2018-07-30  107.1900  107.5300  104.7600  105.3700   34668327
2018-07-31  106.4900  106.7200  105.3800  106.0800   27655152
2018-08-01  106.0300  106.4460  105.4200  106.2800   23628699
2018-08-02  105.4000  108.0900  104.8400  107.5700   26104258
2018-08-03  107.8000  108.0500  106.8200  108.0400   18659599
2018-08-06  108.1200  108.4200  107.5590  108.1300   20265947
2018-08-07  108.5600  109.1000  108.1700  108.8800   16080214
2018-08-08  109.3300  109.7500  108.7599  109.4900   15487502
2018-08-09  109.7100  110.1600  109.6000  109.6700   13677211

[908 rows x 5 columns], 'GOOG':                open       high        low    close   volume
date
2015-01-02   529.01   531.2700   524.1000   524.81  1446662
2015-01-05   523.26   524.3300   513.0600   513.87  2054238
2015-01-06   515.00   516.1750   501.0500   501.96  2891950
2015-01-07   507.00   507.2440   499.6500   501.10  2059366
2015-01-08   497.99   503.4800   491.0000   502.68  3344395
2015-01-09   504.76   504.9200   494.7900   496.17  2065715
2015-01-12   494.94   495.9760   487.5600   492.55  2320446
2015-01-13   498.84   502.9800   492.3900   496.18  2365687
2015-01-14   494.65   503.2300   493.0000   500.87  2229638
2015-01-15   505.57   505.6800   497.7600   501.79  2711355
2015-01-16   500.01   508.1900   500.0000   508.08  2292043
2015-01-20   511.00   512.5000   506.0160   506.90  2225922
2015-01-21   507.25   519.2800   506.2000   518.04  2262455
2015-01-22   521.48   536.3300   519.7000   534.39  2669558
2015-01-23   535.59   542.1700   533.0000   539.95  2275485
2015-01-26   538.53   539.0000   529.6700   535.21  1539524
2015-01-27   529.97   530.7000   518.1900   518.63  1898844
2015-01-28   522.78   522.9900   510.0000   510.00  1679230
2015-01-29   511.00   511.0900   501.2000   510.66  4174924
2015-01-30   515.86   539.8700   515.5200   534.52  5590977
2015-02-02   531.73   533.0000   518.5500   528.48  2841976
2015-02-03   528.00   533.4000   523.2600   529.24  2033085
2015-02-04   529.24   532.6715   521.2700   522.76  1659125
2015-02-05   523.79   528.5000   522.0900   527.58  1844687
2015-02-06   527.64   537.2000   526.4100   531.00  1758650
2015-02-09   528.00   532.0000   526.0200   527.83  1264276
2015-02-10   529.30   537.7000   526.9200   536.94  1745076
2015-02-11   535.30   538.4500   533.3775   535.97  1373970
2015-02-12   537.25   544.8200   534.6730   542.93  1615824
2015-02-13   543.35   549.9100   543.1300   549.01  1895126
...             ...        ...        ...      ...      ...
2018-06-28  1102.09  1122.3100  1096.0100  1114.22  1072438
2018-06-29  1120.00  1128.2300  1115.0000  1115.65  1315121
2018-07-02  1099.00  1128.0000  1093.8000  1127.46  1217311
2018-07-03  1135.82  1135.8200  1100.0200  1102.89   679034
2018-07-05  1110.53  1127.5000  1108.4800  1124.27  1066685
2018-07-06  1123.58  1140.9300  1120.7400  1140.17   996079
2018-07-09  1148.48  1154.6700  1143.4200  1154.05   908969
2018-07-10  1156.98  1159.5900  1149.5900  1152.84   798412
2018-07-11  1144.59  1164.2900  1141.0000  1153.90  1119993
2018-07-12  1159.89  1184.4100  1155.9300  1183.48  1251884
2018-07-13  1185.00  1195.4200  1180.0000  1188.82  1222072
2018-07-16  1189.39  1191.0000  1179.2800  1183.86  1055662
2018-07-17  1172.22  1203.0400  1170.6000  1198.80  1610353
2018-07-18  1196.56  1204.5000  1190.3400  1195.88  1393606
2018-07-19  1191.00  1200.0000  1183.3200  1186.96  1276667
2018-07-20  1186.96  1196.8600  1184.2200  1184.91  1248400
2018-07-23  1181.01  1206.4900  1181.0000  1205.50  2619234
2018-07-24  1262.59  1266.0000  1235.5600  1248.08  3318204
2018-07-25  1239.13  1265.8600  1239.1300  1263.70  2139999
2018-07-26  1251.00  1269.7700  1249.0200  1268.33  2405638
2018-07-27  1271.00  1273.8900  1231.0000  1238.50  2130558
2018-07-30  1228.01  1234.9200  1211.4700  1219.74  1849904
2018-07-31  1220.01  1227.5900  1205.6000  1217.26  1644722
2018-08-01  1228.00  1233.4700  1210.2100  1220.01  1567264
2018-08-02  1205.90  1229.8800  1204.7900  1226.15  1531299
2018-08-03  1229.62  1230.0000  1215.0600  1223.71  1089896
2018-08-06  1225.00  1226.0900  1215.8000  1224.77  1081723
2018-08-07  1237.00  1251.1700  1236.1700  1242.22  1493980
2018-08-08  1240.47  1256.5000  1238.0100  1245.61  1370913
2018-08-09  1249.90  1255.5400  1246.0100  1249.10   848601

[908 rows x 5 columns]}
                AAPL     GOOG       IBM      MSFT
date
2015-01-02  102.3192   524.81  141.0058   42.9486
2015-01-05   99.4367   513.87  138.7871   42.5490
2015-01-06   99.4461   501.96  135.7940   41.9290
2015-01-07  100.8406   501.10  134.9065   42.4618
2015-01-08  104.7151   502.68  137.8387   43.7109
2015-01-09  104.8274   496.17  138.4390   43.3435
2015-01-12  102.2444   492.55  136.1159   42.8016
2015-01-13  103.1522   496.18  136.4379   42.5766
2015-01-14  102.7591   500.87  135.5591   42.2092
2015-01-15   99.9702   501.79  134.4889   41.7729
2015-01-16   99.1934   508.08  136.7250   42.4709
2015-01-20  101.7484   506.90  136.5597   42.6087
2015-01-21  102.5251   518.04  132.3311   42.1770
2015-01-22  105.1924   534.39  135.2023   43.2884
2015-01-23  105.7352   539.95  135.6200   43.3343
2015-01-26  105.8475   535.21  136.0463   43.1782
2015-01-27  102.1414   518.63  133.7058   39.1827
2015-01-28  107.9158   510.00  131.8612   37.8326
2015-01-29  111.2756   510.66  135.2806   38.5857
2015-01-30  109.6471   534.52  133.3926   37.1070
2015-02-02  111.0229   528.48  134.5672   37.9152
2015-02-03  111.0416   529.24  137.8822   38.2091
2015-02-04  111.8932   522.76  136.5684   38.4296
2015-02-05  112.6919   527.58  137.3949   38.9899
2015-02-06  111.7429   531.00  137.3161   38.9531
2015-02-09  112.4852   527.83  136.4662   38.9072
2015-02-10  114.6462   536.94  138.9283   39.1276
2015-02-11  117.3333   535.97  138.6128   38.9256
2015-02-12  118.8179   542.93  138.8932   39.5777
2015-02-13  119.4004   549.01  140.5405   40.2941
...              ...      ...       ...       ...
2018-06-28  184.8517  1114.22  138.5433   98.6300
2018-06-29  184.4630  1115.65  138.2069   98.6100
2018-07-02  186.5258  1127.46  138.3652  100.0100
2018-07-03  183.2772  1102.89  138.0783   99.0500
2018-07-05  184.7520  1124.27  139.9184   99.7600
2018-07-06  187.3130  1140.17  140.9572  101.1600
2018-07-09  189.9139  1154.05  142.8468  101.8500
2018-07-10  189.6847  1152.84  143.1633  102.1200
2018-07-11  187.2234  1153.90  143.3909  101.9800
2018-07-12  190.3623  1183.48  144.8847  104.1900
2018-07-13  190.6613  1188.82  144.3406  105.4300
2018-07-16  190.2428  1183.86  143.9053  104.9100
2018-07-17  190.7809  1198.80  141.9564  105.9500
2018-07-18  189.7346  1195.88  142.9754  105.1200
2018-07-19  191.2094  1186.96  147.6449  104.4000
2018-07-20  190.7709  1184.91  144.7858  106.2700
2018-07-23  190.9403  1205.50  144.1428  107.9700
2018-07-24  192.3255  1248.08  144.8155  107.6600
2018-07-25  194.1391  1263.70  145.0529  110.8300
2018-07-26  193.5312  1268.33  145.1420  109.6200
2018-07-27  190.3125  1238.50  143.5986  107.6800
2018-07-30  189.2463  1219.74  143.9350  105.3700
2018-07-31  189.6249  1217.26  143.3810  106.0800
2018-08-01  200.7958  1220.01  141.9663  106.2800
2018-08-02  206.6652  1226.15  141.4320  107.5700
2018-08-03  207.2631  1223.71  146.1214  108.0400
2018-08-06  208.3393  1224.77  144.4692  108.1300
2018-08-07  206.3862  1242.22  145.4388  108.8800
2018-08-08  206.5257  1245.61  145.3200  109.4900
2018-08-09  208.1500  1249.10  144.7700  109.6700

[908 rows x 4 columns]
                 AAPL     GOOG       IBM       MSFT
date
2015-01-02   53204626  1446662   5525466   27913852
2015-01-05   64285491  2054238   4880389   39673865
2015-01-06   65797116  2891950   6146712   36447854
2015-01-07   40105934  2059366   4701839   29114061
2015-01-08   59364547  3344395   4241113   29645202
2015-01-09   53699527  2065715   4488347   23944181
2015-01-12   49650790  2320446   4187638   23651887
2015-01-13   67091928  2365687   4377510   35270601
2015-01-14   48956588  2229638   4690294   29719580
2015-01-15   60013996  2711355   4251723   32750779
2015-01-16   78513345  2292043   5756041   35695289
2015-01-20   49899907  2225922   8392773   36161860
2015-01-21   48575897  2262455  11897123   39081143
2015-01-22   53796409  2669558   6120113   35898035
2015-01-23   46464828  2275485   4834847   26211594
2015-01-26   55614979  1539524   7888143   42525530
2015-01-27   95568749  1898844   5659568  169163953
2015-01-28  146477063  1679230   4495933   84507078
2015-01-29   84436432  4174924   8320847   63585273
2015-01-30   83745461  5590977   6563570   78004944
2015-02-02   62739100  2841976   4712247   50352532
2015-02-03   51915749  2033085   5539406   52082448
2015-02-04   70149743  1659125   3678459   41614812
2015-02-05   42246245  1844687   5253637   36548168
2015-02-06   43706567  1758650   3256452   34616554
2015-02-09   38889797  1264276   3057726   31381061
2015-02-10   62008506  1745076   4440614   29670676
2015-02-11   73561797  1373970   3626658   38262509

In [24]:
returns = price.pct_change()
returns.tail()

                AAPL      GOOG       IBM      MSFT
date
2018-08-03  0.002893 -0.001990  0.033157  0.004369
2018-08-06  0.005192  0.000866 -0.011307  0.000833
2018-08-07 -0.009375  0.014248  0.006711  0.006936
2018-08-08  0.000676  0.002729 -0.000817  0.005602
2018-08-09  0.007865  0.002802 -0.003785  0.001644

In [27]:
# calculate correlation between 2 columns of data (company)
print(returns.MSFT.corr(returns.IBM)) 

print(returns.AAPL.corr(returns.GOOG))

print(returns.GOOG.corr(returns.MSFT))

print(returns.AAPL.corr(returns.MSFT))

0.4457791038398753
0.45856062640886547
0.6334327018728759
0.5213659998960727

In [31]:
# Not sure this one yet
print(returns.MSFT.cov(returns.IBM))

print(returns.AAPL.cov(returns.GOOG))

print(returns.GOOG.cov(returns.AAPL))

print(returns.GOOG.cov(returns.MSFT))

print(returns.AAPL.cov(returns.MSFT))

8.007518623605232e-05
9.758984095138838e-05
9.758984095138838e-05
0.00013383350342846437
0.00011061150714732464

In [32]:
# better output
returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.458561  0.352864  0.521366
GOOG  0.458561  1.000000  0.384192  0.633433
IBM   0.352864  0.384192  1.000000  0.445779
MSFT  0.521366  0.633433  0.445779  1.000000

In [33]:
returns.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.000214  0.000098  0.000064  0.000111
GOOG  0.000098  0.000212  0.000069  0.000134
IBM   0.000064  0.000069  0.000153  0.000080
MSFT  0.000111  0.000134  0.000080  0.000211

In [34]:
returns.corrwith(returns.IBM)

AAPL    0.352864
GOOG    0.384192
IBM     1.000000
MSFT    0.445779
dtype: float64

In [35]:
print(returns)

                AAPL      GOOG       IBM      MSFT
date
2015-01-02       NaN       NaN       NaN       NaN
2015-01-05 -0.028172 -0.020846 -0.015735 -0.009304
2015-01-06  0.000095 -0.023177 -0.021566 -0.014571
2015-01-07  0.014023 -0.001713 -0.006536  0.012707
2015-01-08  0.038422  0.003153  0.021735  0.029417
2015-01-09  0.001072 -0.012951  0.004355 -0.008405
2015-01-12 -0.024641 -0.007296 -0.016781 -0.012502
2015-01-13  0.008879  0.007370  0.002366 -0.005257
2015-01-14 -0.003811  0.009452 -0.006441 -0.008629
2015-01-15 -0.027140  0.001837 -0.007895 -0.010337
2015-01-16 -0.007770  0.012535  0.016627  0.016709
2015-01-20  0.025758 -0.002322 -0.001209  0.003245
2015-01-21  0.007634  0.021977 -0.030965 -0.010132
2015-01-22  0.026016  0.031561  0.021697  0.026351
2015-01-23  0.005160  0.010404  0.003089  0.001060
2015-01-26  0.001062 -0.008779  0.003143 -0.003602
2015-01-27 -0.035014 -0.030978 -0.017204 -0.092535
2015-01-28  0.056533 -0.016640 -0.013796 -0.034457
2015-01-29  0.031134  0.001294  0.025932  0.019906
2015-01-30 -0.014635  0.046724 -0.013956 -0.038322
2015-02-02  0.012548 -0.011300  0.008806  0.021780
2015-02-03  0.000168  0.001438  0.024635  0.007752
2015-02-04  0.007669 -0.012244 -0.009528  0.005771
2015-02-05  0.007138  0.009220  0.006052  0.014580
2015-02-06 -0.008421  0.006482 -0.000574 -0.000944
2015-02-09  0.006643 -0.005970 -0.006189 -0.001178
2015-02-10  0.019211  0.017259  0.018042  0.005665
2015-02-11  0.023438 -0.001807 -0.002271 -0.005163
2015-02-12  0.012653  0.012986  0.002023  0.016752
2015-02-13  0.004902  0.011198  0.011860  0.018101
...              ...       ...       ...       ...
2018-06-28  0.007276  0.009276  0.018621  0.011175
2018-06-29 -0.002103  0.001283 -0.002428 -0.000203
2018-07-02  0.011183  0.010586  0.001145  0.014197
2018-07-03 -0.017416 -0.021792 -0.002073 -0.009599
2018-07-05  0.008047  0.019385  0.013326  0.007168
2018-07-06  0.013862  0.014143  0.007424  0.014034
2018-07-09  0.013885  0.012174  0.013405  0.006821
2018-07-10 -0.001207 -0.001048  0.002216  0.002651
2018-07-11 -0.012976  0.000919  0.001590 -0.001371
2018-07-12  0.016766  0.025635  0.010418  0.021671
2018-07-13  0.001571  0.004512 -0.003755  0.011901
2018-07-16 -0.002195 -0.004172 -0.003016 -0.004932
2018-07-17  0.002828  0.012620 -0.013543  0.009913
2018-07-18 -0.005484 -0.002436  0.007178 -0.007834
2018-07-19  0.007773 -0.007459  0.032659 -0.006849
2018-07-20 -0.002293 -0.001727 -0.019365  0.017912
2018-07-23  0.000888  0.017377 -0.004441  0.015997
2018-07-24  0.007255  0.035321  0.004667 -0.002871
2018-07-25  0.009430  0.012515  0.001639  0.029445
2018-07-26 -0.003131  0.003664  0.000614 -0.010918
2018-07-27 -0.016631 -0.023519 -0.010634 -0.017698
2018-07-30 -0.005602 -0.015147  0.002343 -0.021452
2018-07-31  0.002001 -0.002033 -0.003849  0.006738
2018-08-01  0.058911  0.002259 -0.009867  0.001885
2018-08-02  0.029231  0.005033 -0.003764  0.012138
2018-08-03  0.002893 -0.001990  0.033157  0.004369
2018-08-06  0.005192  0.000866 -0.011307  0.000833
2018-08-07 -0.009375  0.014248  0.006711  0.006936
2018-08-08  0.000676  0.002729 -0.000817  0.005602
2018-08-09  0.007865  0.002802 -0.003785  0.001644

[908 rows x 4 columns]

In [36]:
print(volume)

                 AAPL     GOOG       IBM       MSFT
date
2015-01-02   53204626  1446662   5525466   27913852
2015-01-05   64285491  2054238   4880389   39673865
2015-01-06   65797116  2891950   6146712   36447854
2015-01-07   40105934  2059366   4701839   29114061
2015-01-08   59364547  3344395   4241113   29645202
2015-01-09   53699527  2065715   4488347   23944181
2015-01-12   49650790  2320446   4187638   23651887
2015-01-13   67091928  2365687   4377510   35270601
2015-01-14   48956588  2229638   4690294   29719580
2015-01-15   60013996  2711355   4251723   32750779
2015-01-16   78513345  2292043   5756041   35695289
2015-01-20   49899907  2225922   8392773   36161860
2015-01-21   48575897  2262455  11897123   39081143
2015-01-22   53796409  2669558   6120113   35898035
2015-01-23   46464828  2275485   4834847   26211594
2015-01-26   55614979  1539524   7888143   42525530
2015-01-27   95568749  1898844   5659568  169163953
2015-01-28  146477063  1679230   4495933   84507078
2015-01-29   84436432  4174924   8320847   63585273
2015-01-30   83745461  5590977   6563570   78004944
2015-02-02   62739100  2841976   4712247   50352532
2015-02-03   51915749  2033085   5539406   52082448
2015-02-04   70149743  1659125   3678459   41614812
2015-02-05   42246245  1844687   5253637   36548168
2015-02-06   43706567  1758650   3256452   34616554
2015-02-09   38889797  1264276   3057726   31381061
2015-02-10   62008506  1745076   4440614   29670676
2015-02-11   73561797  1373970   3626658   38262509
2015-02-12   74474466  1615824   3333063   33268831
2015-02-13   54272219  1895126   3706919   40264887
...               ...      ...       ...        ...
2018-06-28   17365235  1072438   4523666   26650671
2018-06-29   22737666  1315121   3753684   28053214
2018-07-02   17731343  1217311   3405642   19564521
2018-07-03   13954806   679034   1963232   14670275
2018-07-05   16604248  1066685   3744730   18977402
2018-07-06   17485245   996079   2910426   19234627
2018-07-09   19756634   908969   3904652   18211980
2018-07-10   15939149   798412   3776991   19293140
2018-07-11   18831470  1119993   3526565   19644648
2018-07-12   18041131  1251884   3119505   24335929
2018-07-13   12519792  1222072   3067638   24653500
2018-07-16   15043110  1055662   3468817   21786912
2018-07-17   15534523  1610353   5096741   25901726
2018-07-18   16393381  1393606   6935288   29493927
2018-07-19   20286752  1276667  14655804   40171646
2018-07-20   20706042  1248400   6415972   56038827
2018-07-23   15989365  2619234   3897892   29706955
2018-07-24   18697898  3318204   3891625   26316619
2018-07-25   16826483  2139999   3623182   30798058
2018-07-26   19075964  2405638   4778022   31372110
2018-07-27   24023972  2130558   3749642   37005292
2018-07-30   21029535  1849904   3608283   34668327
2018-07-31   39373038  1644722   5474478   27655152
2018-08-01   67935716  1567264   3388386   23628699
2018-08-02   62404012  1531299   3841447   26104258
2018-08-03   33447396  1089896   8053567   18659599
2018-08-06   25425387  1081723   3913743   20265947
2018-08-07   25587387  1493980   3508758   16080214
2018-08-08   22525487  1370913   3581746   15487502
2018-08-09   23492626   848601   3093504   13677211

[908 rows x 4 columns]

In [39]:
returns.corrwith(volume)

AAPL   -0.091034
GOOG    0.038497
IBM    -0.130980
MSFT   -0.067802
dtype: float64

In [40]:
# compare with 4 stock's price change correlation

returns.corrwith(volume, axis = 1)

date
2015-01-02         NaN
2015-01-05   -0.345825
2015-01-06    0.983420
2015-01-07    0.951061
2015-01-08    0.854232
2015-01-09    0.319394
2015-01-12   -0.794276
2015-01-13    0.126400
2015-01-14   -0.463760
2015-01-15   -0.927592
2015-01-16   -0.850661
2015-01-20    0.864503
2015-01-21   -0.034194
2015-01-22   -0.128137
2015-01-23   -0.349440
2015-01-26    0.327657
2015-01-27   -0.899284
2015-01-28    0.688420
2015-01-29    0.623021
2015-01-30   -0.672041
2015-02-02    0.721845
2015-02-03   -0.421012
2015-02-04    0.956075
2015-02-05    0.374691
2015-02-06   -0.813174
2015-02-09    0.919407
2015-02-10   -0.005150
2015-02-11    0.807995
2015-02-12    0.425954
2015-02-13   -0.218523
                ...
2018-06-28   -0.322129
2018-06-29   -0.182559
2018-07-02    0.645434
2018-07-03   -0.025441
2018-07-05   -0.944547
2018-07-06    0.484192
2018-07-09   -0.351197
2018-07-10    0.240338
2018-07-11   -0.684311
2018-07-12    0.107386
2018-07-13    0.758787
2018-07-16   -0.206428
2018-07-17    0.283776
2018-07-18   -0.650561
2018-07-19   -0.161716
2018-07-20    0.837188
2018-07-23    0.310935
2018-07-24   -0.674503
2018-07-25    0.830060
2018-07-26   -0.979607
2018-07-27    0.004076
2018-07-30   -0.555807
2018-07-31    0.739021
2018-08-01    0.954435
2018-08-02    0.957295
2018-08-03   -0.215829
2018-08-06    0.632142
2018-08-07   -0.886037
2018-08-08    0.177688
2018-08-09    0.736924
Length: 908, dtype: float64

In [44]:
# Panel Data structure in Pandas

from pandas import Panel 
import pandas_datareader.data as web
from datetime import datetime



start = datetime(2016, 1, 1)
end = datetime(2018, 8, 10)


pdata = Panel(dict((stk, web.DataReader(stk,'iex', start, end))
                  for stk in ['AAPL', 'GOOG', 'MSFT', 'DVMT']))

print(pdata)

5y
5y
5y
5y
<class 'pandas.core.panel.Panel'>
Dimensions: 4 (items) x 657 (major_axis) x 5 (minor_axis)
Items axis: AAPL to MSFT
Major_axis axis: 2016-01-04 to 2018-08-10
Minor_axis axis: open to volume

In [45]:
pdata = pdata.swapaxes('items','minor')
pdata['close']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  """Entry point for launching an IPython kernel.

                AAPL   DVMT     GOOG      MSFT
2016-01-04  100.2743    NaN   741.84   51.7035
2016-01-05   97.7615    NaN   742.58   51.9394
2016-01-06   95.8484    NaN   743.62   50.9959
2016-01-07   91.8031    NaN   726.39   49.2221
2016-01-08   92.2886    NaN   714.47   49.3730
2016-01-11   93.7829    NaN   716.03   49.3447
2016-01-12   95.1440    NaN   726.07   49.7976
2016-01-13   92.6978    NaN   700.56   48.7220
2016-01-14   94.7252    NaN   714.72   50.1090
2016-01-15   92.4504    NaN   694.45   48.1088
2016-01-19   92.0030    NaN   701.79   47.7031
2016-01-20   92.1267    NaN   698.45   47.9201
2016-01-21   91.6604    NaN   706.59   47.6276
2016-01-22   96.5337    NaN   725.25   49.3353
2016-01-25   94.6491    NaN   711.67   48.8636
2016-01-26   95.1726    NaN   713.04   49.2221
2016-01-27   88.9191    NaN   699.99   48.3258
2016-01-28   89.5568    NaN   730.96   49.1136
2016-01-29   92.6502    NaN   742.95   51.9771
2016-02-01   91.7841    NaN   752.00   51.6186
2016-02-02   89.9280    NaN   764.65   50.0052
2016-02-03   91.7079    NaN   726.95   49.2127
2016-02-04   92.4448    NaN   708.01   49.0617
2016-02-05   89.9758    NaN   683.57   47.3257
2016-02-08   90.9232    NaN   682.74   46.6180
2016-02-09   90.9041    NaN   678.11   46.4954
2016-02-10   90.2150    NaN   684.12   46.9011
2016-02-11   89.6696    NaN   683.11   46.8822
2016-02-12   89.9471    NaN   682.40   47.6465
2016-02-16   92.4831    NaN   691.00   48.5492
...              ...    ...      ...       ...
2018-06-29  184.4630  84.58  1115.65   98.6100
2018-07-02  186.5258  92.20  1127.46  100.0100
2018-07-03  183.2772  94.83  1102.89   99.0500
2018-07-05  184.7520  93.85  1124.27   99.7600
2018-07-06  187.3130  93.34  1140.17  101.1600
2018-07-09  189.9139  93.63  1154.05  101.8500
2018-07-10  189.6847  94.37  1152.84  102.1200
2018-07-11  187.2234  94.09  1153.90  101.9800
2018-07-12  190.3623  95.12  1183.48  104.1900
2018-07-13  190.6613  94.90  1188.82  105.4300
2018-07-16  190.2428  94.78  1183.86  104.9100
2018-07-17  190.7809  94.86  1198.80  105.9500
2018-07-18  189.7346  95.07  1195.88  105.1200
2018-07-19  191.2094  94.74  1186.96  104.4000
2018-07-20  190.7709  94.32  1184.91  106.2700
2018-07-23  190.9403  93.62  1205.50  107.9700
2018-07-24  192.3255  93.10  1248.08  107.6600
2018-07-25  194.1391  93.80  1263.70  110.8300
2018-07-26  193.5312  94.40  1268.33  109.6200
2018-07-27  190.3125  93.67  1238.50  107.6800
2018-07-30  189.2463  92.71  1219.74  105.3700
2018-07-31  189.6249  92.52  1217.26  106.0800
2018-08-01  200.7958  92.72  1220.01  106.2800
2018-08-02  206.6652  93.04  1226.15  107.5700
2018-08-03  207.2631  93.09  1223.71  108.0400
2018-08-06  208.3393  93.44  1224.77  108.1300
2018-08-07  206.3862  93.70  1242.22  108.8800
2018-08-08  206.5257  94.15  1245.61  109.4900
2018-08-09  208.1500  94.73  1249.10  109.6700
2018-08-10  207.5300  94.53  1237.61  109.0000

[657 rows x 4 columns]

In [49]:
pdata.ix[:,'2017-07-11', :]

          open      high       low     close      volume
AAPL  142.0165  143.1155  141.6730  142.8015  19781836.0
DVMT   61.4500   61.9900   61.1200   61.5200   1071531.0
GOOG  929.5400  931.4300  922.0000  930.0900   1113235.0
MSFT   68.6596   69.3265   68.4143   68.6497  17460022.0

In [51]:
pdata.ix['close','2017-8-13':, :]

                AAPL   DVMT     GOOG      MSFT
2018-01-02  170.3042  82.43  1065.00   85.1790
2018-01-03  170.2745  83.30  1082.48   85.5754
2018-01-04  171.0654  84.78  1086.40   86.3286
2018-01-05  173.0131  85.40  1102.23   87.3989
2018-01-08  172.3705  85.38  1106.94   87.4881
2018-01-09  172.3507  84.28  1106.26   87.4286
2018-01-10  172.3111  84.61  1102.61   87.0322
2018-01-11  173.2899  86.83  1105.52   87.2899
2018-01-12  175.0794  86.75  1122.26   88.7962
2018-01-16  174.1896  86.09  1121.76   87.5574
2018-01-17  177.0665  88.11  1131.98   89.3314
2018-01-18  177.2247  88.39  1129.79   89.2917
2018-01-19  176.4338  88.49  1137.51   89.1926
2018-01-22  174.9904  88.93  1155.81   90.7882
2018-01-23  175.0299  89.11  1169.97   91.0756
2018-01-24  172.2419  88.37  1164.24   90.9963
2018-01-25  169.1672  88.44  1170.37   91.5017
2018-01-26  169.5627  82.74  1175.84   93.2162
2018-01-29  166.0530  74.80  1175.58   93.0775
2018-01-30  165.0743  70.08  1163.69   91.9080
2018-01-31  165.5290  71.70  1169.94   94.1577
2018-02-01  165.8751  70.25  1167.70   93.4144
2018-02-02  158.6777  70.90  1111.90   90.9567
2018-02-05  154.7132  67.58  1055.80   87.2106
2018-02-06  161.1790  67.23  1080.60   90.5107
2018-02-07  157.7286  66.77  1048.58   88.8061
2018-02-08  153.3885  65.62  1001.52   84.2474
2018-02-09  155.2647  67.30  1037.78   87.3890
2018-02-12  161.5185  68.03  1051.94   88.3304
2018-02-13  163.1366  68.30  1052.10   89.0242
...              ...    ...      ...       ...
2018-06-29  184.4630  84.58  1115.65   98.6100
2018-07-02  186.5258  92.20  1127.46  100.0100
2018-07-03  183.2772  94.83  1102.89   99.0500
2018-07-05  184.7520  93.85  1124.27   99.7600
2018-07-06  187.3130  93.34  1140.17  101.1600
2018-07-09  189.9139  93.63  1154.05  101.8500
2018-07-10  189.6847  94.37  1152.84  102.1200
2018-07-11  187.2234  94.09  1153.90  101.9800
2018-07-12  190.3623  95.12  1183.48  104.1900
2018-07-13  190.6613  94.90  1188.82  105.4300
2018-07-16  190.2428  94.78  1183.86  104.9100
2018-07-17  190.7809  94.86  1198.80  105.9500
2018-07-18  189.7346  95.07  1195.88  105.1200
2018-07-19  191.2094  94.74  1186.96  104.4000
2018-07-20  190.7709  94.32  1184.91  106.2700
2018-07-23  190.9403  93.62  1205.50  107.9700
2018-07-24  192.3255  93.10  1248.08  107.6600
2018-07-25  194.1391  93.80  1263.70  110.8300
2018-07-26  193.5312  94.40  1268.33  109.6200
2018-07-27  190.3125  93.67  1238.50  107.6800
2018-07-30  189.2463  92.71  1219.74  105.3700
2018-07-31  189.6249  92.52  1217.26  106.0800
2018-08-01  200.7958  92.72  1220.01  106.2800
2018-08-02  206.6652  93.04  1226.15  107.5700
2018-08-03  207.2631  93.09  1223.71  108.0400
2018-08-06  208.3393  93.44  1224.77  108.1300
2018-08-07  206.3862  93.70  1242.22  108.8800
2018-08-08  206.5257  94.15  1245.61  109.4900
2018-08-09  208.1500  94.73  1249.10  109.6700
2018-08-10  207.5300  94.53  1237.61  109.0000

[154 rows x 4 columns]

In [52]:
stacked = pdata.ix[:, '2017-05-30':, :].to_frame()
stacked

                       open       high        low      close      volume
major      minor
2017-05-30 AAPL    150.5435   151.5346   150.4552   150.7889  20126851.0
           DVMT     68.8000    69.3400    68.5600    68.7500   2264627.0
           GOOG    970.3100   976.2000   969.4900   975.8800   1466654.0
           MSFT     68.4536    69.0617    68.4340    69.0617  17072838.0
2017-05-31 AAPL    151.0832   151.2795   149.5230   149.8959  24451164.0
           DVMT     69.0500    69.3900    67.7800    69.3900   9400871.0
           GOOG    975.0200   979.2700   960.1800   964.8600   2448067.0
           MSFT     69.1794    69.3854    68.4732    68.5026  30436364.0
2017-06-01 AAPL    150.2982   150.4552   149.3660   150.3080  16404088.0
           DVMT     69.5000    69.7250    68.7200    69.2800   2453439.0
           GOOG    968.9500   971.5000   960.0100   966.9500   1410458.0
           MSFT     68.8950    69.2579    68.1211    68.7576  21603601.0
2017-06-02 AAPL    150.7005   152.5355   150.0235   152.5355  27770715.0
           DVMT     68.4100    69.0400    66.6600    68.2500   2240355.0
           GOOG    969.4600   975.8800   966.0000   975.6000   1750955.0
           MSFT     69.0911    70.4839    68.8950    70.3859  34770261.0
2017-06-05 AAPL    151.4463   151.5542   150.5828   151.0440  25331662.0
           DVMT     68.1400    68.2000    66.4200    66.6100   2557297.0
           GOOG    976.5500   986.9100   975.1000   983.6800   1252106.0
           MSFT     70.5918    71.4942    70.4349    70.8959  33316760.0
2017-06-06 AAPL    151.0145   152.8887   150.8968   151.5542  26624926.0
           DVMT     66.7100    67.3100    66.2600    67.1300   1473516.0
           GOOG    983.1600   988.2500   975.1400   976.5700   1814624.0
           MSFT     70.9155    71.2294    70.8861    71.1313  31511065.0
2017-06-07 AAPL    152.1135   153.0555   151.5837   152.4570  21069647.0
           DVMT     67.1300    67.8700    67.0000    67.8300   1598229.0
           GOOG    979.6500   984.1500   975.7700   981.0800   1453874.0
           MSFT     71.2441    71.3765    70.5722    71.0038  22301765.0
2017-06-08 AAPL    152.3392   152.6238   151.5052   152.0841  21250798.0
           DVMT     66.6700    67.4800    63.7000    65.1000   3609132.0
...                     ...        ...        ...        ...         ...
2018-08-01 GOOG   1228.0000  1233.4700  1210.2100  1220.0100   1567264.0
           MSFT    106.0300   106.4460   105.4200   106.2800  23628699.0
2018-08-02 AAPL    199.8790   207.6517   199.6498   206.6652  62404012.0
           DVMT     92.5000    93.2700    92.5000    93.0400    904845.0
           GOOG   1205.9000  1229.8800  1204.7900  1226.1500   1531299.0
           MSFT    105.4000   108.0900   104.8400   107.5700  26104258.0
2018-08-03 AAPL    206.3064   208.0105   204.7621   207.2631  33447396.0
           DVMT     93.1600    93.3800    92.3900    93.0900   1114243.0
           GOOG   1229.6200  1230.0000  1215.0600  1223.7100   1089896.0
           MSFT    107.8000   108.0500   106.8200   108.0400  18659599.0
2018-08-06 AAPL    207.2730   208.5187   206.3463   208.3393  25425387.0
           DVMT     92.8600    93.7500    92.8600    93.4400    925879.0
           GOOG   1225.0000  1226.0900  1215.8000  1224.7700   1081723.0
           MSFT    108.1200   108.4200   107.5590   108.1300  20265947.0
2018-08-07 AAPL    208.5884   208.7678   206.0374   206.3862  25587387.0
           DVMT     94.0300    94.5700    93.2500    93.7000   1006657.0
           GOOG   1237.0000  1251.1700  1236.1700  1242.2200   1493980.0
           MSFT    108.5600   109.1000   108.1700   108.8800  16080214.0
2018-08-08 AAPL    205.3299   207.0837   203.8052   206.5257  22525487.0
           DVMT     93.8600    94.3300    93.4300    94.1500    797765.0
           GOOG   1240.4700  1256.5000  1238.0100  1245.6100   1370913.0
           MSFT    109.3300   109.7500   108.7599   109.4900  15487502.0
2018-08-09 AAPL    206.5556   209.0468   206.4758   208.1500  23492626.0
           DVMT     94.4800    95.1700    94.1100    94.7300    594678.0
           GOOG   1249.9000  1255.5400  1246.0100  1249.1000    848601.0
           MSFT    109.7100   110.1600   109.6000   109.6700  13677211.0
2018-08-10 AAPL    207.3600   209.1000   206.6700   207.5300  24611202.0
           DVMT     93.8300    95.1000    93.6900    94.5300    691343.0
           GOOG   1243.0000  1245.6900  1232.0000  1237.6100   1108919.0
           MSFT    109.4200   109.6900   108.3800   109.0000  18183724.0

[1216 rows x 5 columns]